<!-- .site-header-navbar-->
<header id="masthead" class="site-header site-header-fixed-top">
		<nav id="siteHeaderNavbar" class="site-header-navbar navbar navbar-lg navbar-fixed-top  navbar-bg-from-transparent navbar-fg-from-light navbar-default">
			<!-- Navigation -->
			<div class="container">
				<div class="row">
					<div class="navbar-header ">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
						<a class="navbar-brand page-scroll " href="#page-top">
							<img src="assets/img/gallery/logo.png" alt="" class="img-responsive"></a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse  navbar-main-collapse navbar-right">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#main-banner" class="page-scroll">Home</a></li>
							<li><a class="page-scroll" href="#section-about">About</a></li>
							<li><a class="page-scroll" href="#section-schedule">Schedule</a></li>
							<li><a class="page-scroll" href="#section-pricing">Tickets</a></li>
							<li><a class="page-scroll" href="#section-sponsors">Partners</a></li>
							<li><a class="page-scroll" href="#section-gallery">Venue</a></li>
							<li><a class="page-scroll" href="#section-contact">FAQ</a></li>
						</ul>
						<div class="navbar-btn navbar-right"> 
							<a class="page-scroll btn btn-feature navbar-link" href="#section-pricing">REGISTER</a> 
						</div>
					</div>
				</div>
			</div>
			<!-- /.navbar-collapse -->
		</nav>
		<!-- /.container -->
	</header>
	<!-- .site-header-navbar-->