<!-- section ABOUT Start	-->
<section id="section-about" class="section-padding ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="about-block">
                        <div class="about-info">
                        <p>
The recent OCLC/euroCRIS RIM survey has shown how institutional implementations of research
information management strategies tend to be much more dynamic and widespread than national-
or regional-level ones. This is however not a case of either/or: national-level RIM infrastructure does
frequently coexist and interoperate with institutional-level one. Using the Polish case study as a
starting point, where a national CRIS is currently being built that will need to interoperate with a pre-
existing range of institutional systems, this event will look into various approaches to the national vs
institutional configuration within Europe and beyond.</p>
                        </div>
                </div>
            </div>
    </div>
    
    <div class="container ">
        <div class="about-desc">
            <div class="row">
                <div class="col-md-9 col-sm-7 hidden-sm " >
                    <div class="about-intro">
                        <h4 class="timetitle">Join Omega-PSIR Tutorial</h4>
                        <h2>Learn why Universities in Poland use Omega-PSIR: free and mature CRIS solution. Discover its functionalities</h2>
                    </div>
                </div>
               <!-- <div class="col-md-3 col-sm-5">
                    <div class="about-btn">
                        <a href="#" target="_blank" class="btn btn-feature">register</a> 
                    </div>
                </div>-->
            </div>
        </div><!-- row end  -->
    </div><!-- container end  -->
</section>
<!-- section ABOUT end	-->
