<!-- section ABOUT Start	-->
<section id="section-about" class="section-padding ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="about-block">
                        <div class="about-info">
                        <p>
The CRIS 2018 conference will address recent trends in the significance, position and use of Current Research Information Systems (CRIS), bringing together researchers, managers of research-performing institutions, funding agencies, research evaluators, librarians, research administrators, ICT experts and policy makers.
The general theme of the conference is “FAIRness of Research Information”. In a broader sense this theme reflects on the question of how to optimally present research (projects), its practitioners (researchers, institutions) and – above all – its products (datasets, publications) and make them optimally discoverable and useful, first of all for fellow researchers, but in a wider perspective also for professional communities and the general public as a whole.
</p>
                        </div>
                </div>
            </div>
    </div>
    
    <div class="container ">
        <div class="about-desc">
            <div class="row">
                <div class="col-md-9 col-sm-7 hidden-sm " >
                    <div class="about-intro">
                        <h4 class="timetitle">euroCRIS Warsaw Conference on Current Research Information Systems</h4>
                        <h2>Join the meeting and find out how to optimally present research, its practitioners and its products</h2>
                    </div>
                </div>
                <div class="col-md-3 col-sm-5">
                    <div class="about-btn">
                        <a href="#" target="_blank" class="btn btn-feature">register</a> 
                    </div>
                </div>
            </div>
        </div><!-- row end  -->
    </div><!-- container end  -->
</section>
<!-- section ABOUT end	-->