<!-- section ABOUT Start	-->
<section id="section-about" class="section-padding ">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4">
                <div class="about-block">
                        <img src="assets/img/about/about-img2.jpg" alt="" class="img-responsive">
                        <div class="about-info">
                        <h3>Hands-on Workshops</h3>
                        <p>Bring your notebook and take part in one of 12 AI & NLP related workshops to quickly gain hands-on knowledge on current methods and technologies.</p>
                        </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4">
                <div class="about-block">
                        <img src="assets/img/about/about-img1.jpg" alt="" class="img-responsive">
                        <div class="about-info">
                        <h3>State-of-the-art Knowledge</h3>
                        <p>Talk to field experts, scientists and PolEval competition winners to discuss state-of-the-art knowledge in the area of AI and NLP.</p>
                        </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4">
                <div class="about-block">
                        <img src="assets/img/about/about-img4.jpg" alt="" class="img-responsive">
                        <div class="about-info">
                        <h3>Science meets Business</h3>
                        <p>Exchange ideas and talk business with participants both from academia and industry.</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container ">
        <div class="about-desc">
            <div class="row">
                <div class="col-md-9 col-sm-7 hidden-sm " >
                    <div class="about-intro">
                        <h4 class="timetitle">Collocated with PolEval 2018 competition</h4>
                        <h2>Take part in one of Polish-language NLP shared tasks</h2>
                    </div>
                </div>
                <div class="col-md-3 col-sm-5">
                    <div class="about-btn">
                        <a href="http://poleval.pl" target="_blank" class="btn btn-feature">more info</a> 
                    </div>
                </div>
            </div>
        </div><!-- row end  -->
    </div><!-- container end  -->
</section>
<!-- section ABOUT end	-->