<!--  Footer start  -->
<section id="footer" class="section-padding overlay2">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-widget">
                        <h2>Neon</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa consectetur assumenda est unde animi.</p>
                        <a href="#" class="btn btn-black">reservation</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-widget">
                        <h3>Quick Links</h3>
                        <ul>
                            <li><a href="#"><i class="fa  fa-angle-right"></i>Financial Analysis</a></li>
                            <li><a href="#"><i class="fa  fa-angle-right"></i>Financial planner</a></li>
                            <li><a href="#"><i class="fa  fa-angle-right"></i>Consulting</a></li>
                            <li><a href="#"><i class="fa  fa-angle-right"></i>Creative ideas</a></li>
                            <li><a href="#"><i class="fa  fa-angle-right"></i>Market Reseach</a></li>
                            <li><a href="#"><i class="fa  fa-angle-right"></i>Investment Advisor</a></li>
                            <li><a href="#"><i class="fa  fa-angle-right"></i>Creative ideas</a></li>
                            <li><a href="#"><i class="fa  fa-angle-right"></i>Market Reseach</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-widget tags">
                        <h3>Top category</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">graphics</a></li>
                            <li><a href="#">Web development</a></li>
                            <li><a href="#">branding</a></li>
                            <li><a href="#">marketing</a></li>
                            <li><a href="#">app development</a></li>
                            <li><a href="#">Web development</a></li>
                            <li><a href="#">marketing</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Footer end  -->