<!--  section TESTIMONIAL start  -->
<section id="section-conference" class=" section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="about-box"> <i class="fa fa-microphone "></i>
                    <h3>12 speakers</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="about-box " > <i class="fa fa-list  "></i>
                    <h3>4 parallel tracks</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="about-box"> <i class="fa fa-users "></i>
                    <h3>150 participants</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="about-box"> <i class="fa fa-trophy"></i>
                    <h3>collocated with PolEval 2018 competition</h3>
                </div>
            </div>
        </div><!-- row end  -->
    </div><!-- container end  -->
</section>
<!--  section about more end  -->