<!-- section contact start -->
<section id="section-contact" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2>Additional questions?</h2>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
        <!--  row heading end -->
        <div class="row">
            <div class="col-md-4">
                <ul class="contact-info">
                    <li class="info-block">
                        <div class="icon-block">
                            <i class="icon icon-globe"></i>
                        </div>
                        <h4>E-mail</h4>
                        <p>info@nlpday.ai</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <form action="process.php" id="contact-form" role="form" method="post">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group" id="name-field">
                            <input class="form-control contact-form-field cffield-upper" name="fname" id="form-name" placeholder="Your name" type="text" required> </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group" id="email-field">
                            <input class="form-control contact-form-field cffield-upper" name="femail" id="form-email" placeholder="Your email" type="email" required> </div>
                    </div>
                    <div class="col-md-12 col-sm-6">
                        <div class="form-group" id="subject-field">
                            <input class="form-control contact-form-field cffield-upper" name="fsubject" id="form-subject" placeholder="Your subject" type="text" required> </div>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="form-group form-text text-center" id="message-field">
                            <textarea cols="30" rows="6" placeholder="Your message" class="form-control contact-form-field" name="fmessage" id="form-message" required></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary feature " type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</section>
<!-- section contact end -->