<!-- section contact start -->
<section id="section-contact" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2>Additional questions?</h2>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
        <!--  row heading end -->
        <div class="row ">
    <div class="col-md-6">
    
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
            <div class="panel-faq" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        How can I register?
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                      To register for the event, you will have to complete the appropriate registration form <a href="https://www.eventbrite.co.uk/e/ai-nlp-workshop-day-2018-tickets-48639870161">here</a> and pay a fee. If you are the PolEval 2018 participant, you will receive a promotional code to register for free.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-faq" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        I'm a PolEval 2018 participant. How can I register for free?
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                    You should get an email with information about the event and registration instructions. If not, please write to us and ask for a promotional code.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-faq" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        Can I get an invoice?
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                <div class="panel-body">
                    Yes, a confirmation and tax invoice will be issued automatically upon registration.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-faq" role="tab" id="headingSeven">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        Will the event be recorded?
                    </a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven" aria-expanded="false">
                <div class="panel-body">
                    Only PolEval track's talks will be recorded and available on <a href="https://www.youtube.com/channel/UC5PEPpMqjAr7Pgdvq0wRn0w">IPI PAN YouTube channel</a>.
                </div>
            </div>
        </div>

    </div><!-- panel-group -->
</div> <!-- col -->

        <div class="col-md-6">


    
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
            <div class="panel-faq" role="tab" id="headingFive">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="collapsed">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        How to get to the conference venue?
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                    We recommend public transport.<br>
                    Buses: 105, 154, 155, 184 (Ordona stop); 167 (Elekcyjna stop)<br>
                    Trams: 10, 11, 26, 27 (Elekcyjna stop)
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-faq" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        Is it possible to park a car at the venue?
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                    The Institute has a car park for its guests. Entrance to the parking is located in Władysława Warneńczyka Str. (access from Jana Kazimierza Str.). Please remember that parking space is limited. Street parking is difficult to find.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-faq" role="tab" id="headingSix">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        Is WiFi network available at the venue?
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                    Yes, WiFi is provided for the participants.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-faq" role="tab" id="headingEight">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        How to become our partner?
                    </a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                    Contact us to learn about our packages.
                </div>
            </div>
        </div>

    </div><!-- panel-group -->
</div><!-- col -->
</div><!-- row -->
        <div class="row">
            <div class="col-md-4">
                <ul class="contact-info">
                    <li class="info-block">
                        <div class="icon-block">
                            <i class="icon icon-envelope"></i>
                        </div>
                        <h4>Contact us</h4>
                        <p>info@nlpday.pl</p>
                    </li>
                    <li class="info-block">
                    <p style="font-size: 10px; line-height: 18px">The administrator of your personal data is Sages sp. z o.o. with its registered office in Warsaw, Poland at Nowogrodzka 62c Str., registered by the District Court for the Capital City of Warsaw, XIII Commercial Division of the National Court Register under the number KRS: 0000313297, with a share capital of PLN 50 000 paid-in full. Tax ID: 1132737407. REGON: 141560043. Providing personal data is voluntary, but necessary to allow to contact you. Data shall be kept for a period necessary to realize the purpose. The disclosed data may be forwarded to any third party participating in the event's organization. You have the right to access, correct and delete your personal data. In the matter of personal data protection, the Administrator may be contacted in writing by e-mail visible above.</p>
                </li>
                </ul>
            </div>
            <div class="col-md-8">
                <iframe src="https://services.cognitoforms.com/f/d0vNVxxeQECZOLbwTbKeYw?id=12" style="position:relative;width:1px;min-width:100%;*width:100%;" frameborder="0" scrolling="yes" seamless="seamless" height="486" width="100%"></iframe>
<script src="https://services.cognitoforms.com/scripts/embed.js"></script>
            </div>
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</section>
<!-- section contact end -->