<!-- section contact start -->
<section id="section-contact" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2>Additional questions?</h2>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
        <!--  row heading end -->
        <div class="row">
            <div class="col-md-4">
                <ul class="contact-info">
                    <li class="info-block">
                        <div class="icon-block">
                            <i class="icon icon-envelope"></i>
                        </div>
                        <h4>Contact us</h4>
                        <p>info@info.pl</p>
                    </li>
                    <li class="info-block">
                    <p style="font-size: 10px; line-height: 18px">The administrator of your personal data is Sages sp. z o.o. with its registered office in Warsaw, Poland at Nowogrodzka 62c Str., registered by the District Court for the Capital City of Warsaw, XIII Commercial Division of the National Court Register under the number KRS: 0000313297, with a share capital of PLN 50 000 paid-in full. Tax ID: 1132737407. REGON: 141560043. Providing personal data is voluntary, but necessary to allow to contact you. Data shall be kept for a period necessary to realize the purpose. The disclosed data may be forwarded to any third party participating in the event's organization. You have the right to access, correct and delete your personal data. In the matter of personal data protection, the Administrator may be contacted in writing by e-mail visible above.</p>
                </li>
                </ul>
            </div>
            <div class="col-md-8">
                <iframe src="https://services.cognitoforms.com/f/d0vNVxxeQECZOLbwTbKeYw?id=12" style="position:relative;width:1px;min-width:100%;*width:100%;" frameborder="0" scrolling="yes" seamless="seamless" height="486" width="100%"></iframe>
<script src="https://services.cognitoforms.com/scripts/embed.js"></script>
            </div>
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</section>
<!-- section contact end -->