<!--  section gallery start  -->
<section id="section-gallery" class="section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center wow fadeInUp">
                    <h2>Venue</h2>
                    <p>AI & NLP Workshop Day will take place at Institute of Computer Science Polish Academy of Sciences (5 Jana Kazimierza Str., Warsaw, Poland).</p>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="loop owl-carousel owl-theme owl-center owl-loaded">
                <div> <img src="assets/img/gallery/img1.jpg" alt="" class="img-responsive"></div>
                <div> <img src="assets/img/gallery/img2.jpg" alt="" class="img-responsive"></div>
                <div> <img src="assets/img/gallery/img3.jpg" alt="" class="img-responsive"></div>
                <div> <img src="assets/img/gallery/img4.jpg" alt="" class="img-responsive"></div>
            </div>
        </div><!-- row end  -->
    </div><!-- container end  -->
</section>
<!--  section gallery end -->