<!-- section ABOUT Start	-->
<section class="section-padding grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center ">
                    <h2>Accomodation</h2>
                    <p>You must cater to the accomodation booking yourself. Below are some options that we can suggest. </p>
                        <p>Prices are valid for until October 25, 2018. For booking by phone please use promotional code EUROCRIS. Breakfast included.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3 col-lg-3">
                <div class="about-block">
                        <img src="assets/img/about/about-img2.jpg" alt="" class="img-responsive">
                        <div class="about-info">
                        <h4>Polonia Palace Hotel 4*</h4>
                        <p>Single Room - 539 PLN/night, Double Room - 593 PLN/ night</p>
                        <a href="http://www.poloniapalace.com" class="read-more">Book</a>
                        </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                <div class="about-block">
                        <img src="assets/img/about/about-img1.jpg" alt="" class="img-responsive">
                        <div class="about-info">
                        <h4>MDM Hotel 3*</h4>
                        <p>Single Room - 270 PLN/night, Double Room 309 - PLN/night</p>
                        <a href="http://www.hotelmdm.com.pl" class="read-more">Book</a>
                        </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                <div class="about-block">
                        <img src="assets/img/about/about-img4.jpg" alt="" class="img-responsive">
                        <div class="about-info">
                        <h4>Metropol Hotel 3*</h4>
                        <p style="mini">Single Room - 270 PLN/night, Double Room - 309 PLN/night</p>
                        <a href="http://www.hotelmetropol.com.pl" class="read-more">Book</a>
                        </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                <div class="about-block">
                        <img src="assets/img/about/about-img3.jpg" alt="" class="img-responsive">
                        <div class="about-info">
                        <h4>IBIB PAN Conference Centre</h4>
                        <p style="mini">Single Room - 200 PLN/night, Double Room - 250 PLN/night</p>
                        <a href="https://www.ibib.com.pl" class="read-more">Book</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section ABOUT end	-->