<!-- section Sponsors strat -->
<section id="section-sponsors">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-6 partner-img-block">
                
            </div>

            <div class="col-md-6">
                <div class="section-heading text-center wow fadeInUp">
                    <h2>Substantive Partners</h2>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor"> <a href="http://www.ii.pw.edu.pl"><img src="assets/img/client/ii_logo.png" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                </div>
                <div class="section-heading text-center wow fadeInUp">
                    <h2>Media Partners</h2>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor"> <a href="http://stacja.it"><img src="assets/img/client/stacja.png" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- section sponsors end -->