<!--  section PRICING start  -->
<section id="section-pricing" class="section-padding ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center ">
                    <h2>Book your ticket now</h2>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-4 col-sm-4 " >
                <div class="pricing-box">
                    <div class="pricing-intro">
                        <h3>euroCRIS meeting</h3>
                         <h4>For euroCRIS members and Universities from hosting country (Poland)</h3>
                    </div>
                    <ul class="price-list">
                        <li>Participate in all talks and workshops</li>
                        <li>Lunch included</li>
                        <li>Snacks and Coffee break</li>
                        <li>We may close registration after October 16th</li>
                    </ul> 
                    <div class="price"> <span>free</span></div>
                
                    <a href="https://www.xing-events.com/OJHRGXF.html" class="btn btn-white">register</a> 
                </div>
            </div>
            <div class="row">
            <div class="col-md-offset-2 col-md-4 col-sm-4 " >
                <div class="pricing-box">
                    <div class="pricing-intro">
                        <h3>euroCRIS meeting</h3>
                        <h4>For non-member institution</h3>
                    </div>
                    <ul class="price-list">
                        <li>Covers one year membership in euroCRIS</li>
                        <li>Participate in all talks and workshops</li>
                        <li>Lunch included</li>
                        <li>Snacks and Coffee break</li>
                        <li>We may close registration after October 16th</li>
                    </ul> 
                    <div class="price"> <span>60 EUR</span></div>
                
                    <a href="https://www.xing-events.com/OJHRGXF.html" class="btn btn-white">register</a> 
                </div>
            </div>
         
        </div>
        <!-- row end  -->
    </div>
    <!-- container end  -->
</section>
<!--  section PRICING end  -->
