<!--  section PRICING start  -->
<section id="section-pricing" class="section-padding ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center ">
                    <h2>Book your ticket now</h2>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-4 col-sm-4 " >
                <div class="pricing-box">
                    <div class="pricing-intro">
                        <h3>euroCRIS meeting</h3>
                    </div>
                    <ul class="price-list">
                        <li>Participate in all talks and workshops</li>
                        <li>Lunch included</li>
                        <li>Snacks and Coffee break</li>
                        <li>We may close registration after October 16th</li>
                    </ul> 
                    <div class="price"> <span>free</span> <sup>PLN</sup></div>
                
                    <a href="https://www.eventbrite.co.uk/e/ai-nlp-workshop-day-2018-tickets-48639870161" class="btn btn-white">buy ticket</a> 
                </div>
            </div>
            <div class="col-md-4 col-sm-4 " >
                <div class="pricing-box active">
                    <div class="pricing-intro">
                        <h3>euroCRIS meeting + Gala Dinner</h3>
                    </div>
                    <ul class="price-list">
                        <li>Participate in all talks and workshops</li>
                        <li>Lunch included</li>
                        <li>Snacks and Coffee break</li>
                        <li>Gala Dinner</li>
                    </ul> 
                    <div class="price"> <span>55</span> <sup>EUR</sup></div>
                    <a href="https://www.eventbrite.co.uk/e/ai-nlp-workshop-day-2018-tickets-48639870161" class="btn btn-feature">buy ticket</a> 
                </div>
            </div>
        </div>
        <!-- row end  -->
    </div>
    <!-- container end  -->
</section>
<!--  section PRICING end  -->
