<!--  section PRICING start  -->
<section id="section-pricing" class="section-padding ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center ">
                    <h2>Book your ticket now</h2>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-4 col-sm-4 " >
                <div class="pricing-box">
                    <div class="pricing-intro">
                        <h3>Early bird</h3>
                    </div>
                    <ul class="price-list">
                        <li>Participate in all talks and workshops</li>
                        <li>Lunch included</li>
                        <li>Snacks and Coffee break</li>
                        <li>Available until August 31th.</li>
                    </ul> 
                    <div class="price"> <span>199</span> <sup>zł</sup></div>
                
                    <a href="#" class="btn btn-grey">reserve now</a> 
                </div>
            </div>
            <div class="col-md-4 col-sm-4 " >
                <div class="pricing-box active">
                    <div class="pricing-intro">
                        <h3>Regular pass</h3>
                    </div>
                    <ul class="price-list">
                        <li>Participate in all talks and workshops</li>
                        <li>Lunch included</li>
                        <li>Snacks and Coffee break</li>
                    </ul> 
                    <div class="price"> <span>299</span> <sup>zł</sup></div>
                    <a href="#" class="btn btn-feature">reserve now</a> 
                </div>
            </div>
        </div>
        <!-- row end  -->
    </div>
    <!-- container end  -->
</section>
<!--  section PRICING end  -->