<!--  section SCHEDULE start  -->
<section id="section-schedule" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2>Agenda</h2>
                    <p>The schedule of euroCRIS Meeting Warsaw 2018 is tentative and may change in the coming weeks.</p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <ul class="nav nav-tabs " id="schedule-tab">
                <li class="active col-md-4 col-sm-4 col-xs-12">
                    <a href="#tab-a" data-toggle="tab">
                        <h3>Monday Nov 26th</h3> </a>
                </li>
                <li class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#tab-b" data-toggle="tab">
                        <h3>Tuesday Nov 27th</h3> </a>
                </li>
                <li class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#tab-c" data-toggle="tab">
                        <h3>Wednesday Nov 28th</h3> </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="tab-a">
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 20px 10px">
                                        <h4>09:00 - 09:30</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Registration</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 40px 10px">
                                        <h4>9:30 - 11:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">Omega Users Board</span>
<h3>Omega Users Board Meeting part 1 </h3>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 40px 10px">
                                        <h4>11:30 - 13:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">Omega Users Board</span>
<h3>Omega Users Board Meeting part 2</h3>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="b-time">
                                        <h4>Lunch Break</h4> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-4">
                                    <div style="padding: 1100px 10px" class="s-time">
                                        <h4>14:00 - 17:00</h4> </div>

<div style="padding: 110px 10px;margin-top: 15px;" class="s-time ">
                                        <h4>17:00 - 18:00</h4> </div>
                                </div>
                                <div class="col-md-4 col-xs-12 col-sm-8">
                                    <div class="desc-inner time-desc">
                                        <span class="badge badge-pill">euroCRIS Board</span>
<h3>euroCRIS Board Meeting</h3>
                                        
                                    </div>
<div class="desc-inner ">
                                        <span class="badge badge-pill">euroCRIS Board</span>
<h3>Interest Group Meeting: DRIS update </h3>
                                        
                                    </div>
                                </div>

<div class="col-md-2 col-xs-12 col-sm-4">
                                <div class="s-time" style="padding: 40px 10px">
                                        <h4>16:30 - 18:00</h4> </div>
                                </div>
                                <div class="col-md-4 col-xs-12 col-sm-8">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">Official Eurocris Meeting</span>
<h3>euroCRIS CERIF tutorial</h3>
                                        
                                    </div>
                                </div>
 </div>
                     
                        
                        

                    
             
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 20px 10px">
                                        <h4>18:15 - 19:30</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Reception</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                </div>
                <div class="tab-pane fade in" id="tab-b">
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 20px 10px">
                                        <h4>8:00 - 9:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Registration</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 20px 10px">
                                        <h4>9:00 - 9:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Welcome speech</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end  	 -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h4>9:15 - 09:55</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">CRIS at National Level in Poland</span> <span class="badge badge-pill">Talk</span>
                                        <h3>The process of evaluation of science</h3>
                                        <h4>Przemysław Korytkowski</h4>
                                        <p>Evaluation Committee of Scientific Units, Ministry of Science and Higher Education</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/pkorytkowski.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 90px 10px">
                                        <h4>9:55 - 09:35</h4> </div>
                                </div>
                                <div class="col-md-6 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">CRIS at National Level in Poland</span> <span class="badge badge-pill">Talk</span>
                                        <h3>Central systems for  collecting data on science and higher education -role and evolution in the light of the Polish Legislation</h3>
                                        <h4>Marek Michajłowicz, Małgorzata Paszkowska</h4>
                                        <p> Nation  Information  Processing Institute (OPI)</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/mpaszkowska.jpg" alt="" class="img-responsive"> </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/mmichajlowicz.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 20px 10px">
                                        <h4>11:00 - 13:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Institutional CRIS at Polish Universities - case studies and experiences</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- time desc end  	 -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="b-time">
                                        <h4>Lunch Break</h4> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 20px 10px">
                                        <h4>14:00 - 15:40</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Towards European Open Science</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 20px 10px">
                                        <h4>16:00 - 17:30</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Presentations by euroCRIS Strategic Partners</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="b-time">
                                        <h4>Dinner (TBC)</h4> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end  	 -->
                </div>
                <div class="tab-pane fade in" id="tab-c">
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-4">
                                    <div class="s-time"  style="padding: 20px 10px">
                                        <h4>9:30 - 12:30</h4> </div>
                                </div>
                                <div class="col-md-4 col-xs-12 col-sm-8">
                                    <div class="desc-inner">
                                        <h3>National and Regional session</h3>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-4">
                                    <div class="s-time"  style="padding: 20px 10px">
                                        <h4>9:30 - 12:30</h4> </div>
                                </div>
                                <div class="col-md-4 col-xs-12 col-sm-8">
                                    <div class="desc-inner">
                                        <h3>Omega-PSIR workshop</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end  	 -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="b-time">
                                        <h4>Lunch Break</h4> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <!-- time desc end  	 -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 20px 10px">
                                        <h4>13:30 - 15:30</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>euroCRIS Business session</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end  	 -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 20px 10px">
                                        <h4>16:30 - 17:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Closing</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end  	 -->
                </div>
            </div>
        </div><!-- row end  -->
    </div><!-- container end  -->
</section>
<!--  section SCHEDULE end  -->
