<!--  section SCHEDULE start  -->
<section id="section-schedule" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2>Agenda</h2>
                    <p>The schedule of AI & NLP Workshop Day is tentative and may change in the coming weeks.</p>
                </div>
            </div>
                        <div class="col-md-12">
<table class="table"> 

 <tbody> <tr> <th scope="row">09:00 - 09:15</th> <td></td><td>Opening</td>

<td></td>


<td></td>  </tr> 
        <tr> <th scope="row">09:10 - 09:45</th> <td></td><td>Invited talk 1</td> <td></td><td></td> </tr>
<tr> <th scope="row">09:50 - 10:20</th> <td></td><td>Invited talk 2</td> <td></td> </tr></tbody> </table>
<table class="table"> 

<thead> <tr style="background: #34a1ef; color: white;"> <th></th> <th>AI/ML</th> <th>Big Data</th> <th>NLP</th>
<th>PolEval</th> </tr> </thead> <tbody> <tr> <th scope="row">10:45 - 12:15</th> <td>Workshop 1</td> <td>Workshop 1</td> <td>Workshop 1</td><td>Talks coming soon</td> </tr> <tr> <th scope="row">12:30 - 14:00</th> <td>Workshop 2</td> <td>Workshop 2</td> <td>Workshop 2</td> <td></td></tr>
<tr class="active"> <th scope="row"></th> <td>Lunch break</td><td></td>  <td></td>
<td></td> </tr> <tr> <th scope="row">14:45 - 16:15</th> <td>Workshop 3</td> <td>Workshop 3</td> <td>Workshop 3</td> <td></td></tr> <tr> <th scope="row">16:30 - 18:00</th> <td>Workshop 4</td> <td>Workshop 4</td> <td>Workshop 4</td> <td></td></tr>      </tbody> </table> </div>
        </div>
    </div><!-- container end  -->
</section>
<!--  section SCHEDULE end  -->