<!--  section SCHEDULE start  -->
<section id="section-schedule" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2>Agenda</h2>
                    <p>The schedule of euroCRIS Meeting Warsaw 2018 is tentative and may change in the coming weeks.</p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <ul class="nav nav-tabs " id="schedule-tab">
                <li class="active col-md-4 col-sm-4 col-xs-12">
                    <a href="#tab-a" data-toggle="tab">
                        <h3>Monday Nov 26th</h3> </a>
                </li>
                <li class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#tab-b" data-toggle="tab">
                        <h3>Tuesday Nov 27th</h3> </a>
                </li>
                <li class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#tab-c" data-toggle="tab">
                        <h3>Wednesday Nov 28th</h3> </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="tab-a">
            
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 40px 10px">
                                        <h4>9:00 - 14:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                      
<h3>Local meeting of  Omega-PSIR Users Board</h3>
           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-4">
                                    <div class="s-time" style="padding: 125px 10px">
                                        <h4>16:30 - 18:00</h4> </div>
                                </div>
                                <div class="col-md-5 col-xs-12 col-sm-8">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">Official Eurocris Meeting</span>
<h3>euroCRIS CERIF tutorial</h3>
                                        
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-4">
                                    <div style="padding: 80px 10px" class="s-time">
                                        <h4>14:00 - 17:00</h4> </div>

<div style="padding: 20px 10px;margin-top: 15px;" class="s-time ">
                                        <h4>17:00 - 18:00</h4> </div>
                                </div>
                                <div class="col-md-3 col-xs-12 col-sm-8">
                                    <div class="desc-inner time-desc">
                                        <span class="badge badge-pill">euroCRIS Board</span>
<h3>euroCRIS Board Meeting</h3>
                                        
                                    </div>
<div class="desc-inner ">
                                        <span class="badge badge-pill">euroCRIS Board</span>
<h3>Interest Group Meeting: DRIS update </h3>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 20px 10px">
                                        <h4>18:15 - 19:30</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Reception</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                </div>
                <div class="tab-pane fade in" id="tab-b">
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 20px 10px">
                                        <h4>8:30 - 9:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Registration</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 20px 10px">
                                        <h4>8:30 - 8:45</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Welcome speech</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end  	 -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h4>8:45 - 09:25</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">CRIS at National Level in Poland</span> <span class="badge badge-pill">Talk</span>
                                        <h3>The process of evaluation of science</h3>
                                        <h4>Przemysław Korytkowski</h4>
                                        <p>West Pomeranian University of Technology in Szczecin Faculty of Computer Science, Evaluation Committee of Scientific Units, Ministry of Science and Higher Education</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/pkorytkowski.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 90px 10px">
                                        <h4>9:25 - 10:05</h4> </div>
                                </div>
                                <div class="col-md-6 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">CRIS at National Level in Poland</span> <span class="badge badge-pill">Talk</span>
                                        <h3>Central systems for  collecting data on science and higher education -role and evolution in the light of the Polish Legislation</h3>
                                        <h4>Marek Michajłowicz, Małgorzata Paszkowska</h4>
                                        <p> National  Information  Processing Institute (OPI)</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/mpaszkowska.jpg" alt="" class="img-responsive"> </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/mmichajlowicz.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="b-time">
                                        <h4>Coffee Break</h4> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="desc-inner">
                                        <h3>Institutional CRIS at Polish Universities - case studies and experiences</h3> </div>
                                        <h4>This National Session will provide an overview of the activity around Research Information Management and the associated supporting systems at several 
Universities and Research Centres in Poland</h4>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="time-desc">
                        <div class="container">
                             <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h4>10:30 - 10:50</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">Institutional CRIS at Polish Universities</span> <span class="badge badge-pill">Talk</span>
                                        <h3>Operation of CRIS system in the constantly changing environment</h3>
                                        <h4>Weronika Kubrak</h4>
                                        <p>Main Library of Warsaw University of Technology</p>
                                    </div>
                                </div>
                                
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/wkubrak.jpeg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                             <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h4>10:50 - 11:10</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">Institutional CRIS at Polish Universities</span> <span class="badge badge-pill">Talk</span>
                                        <h3>DSPACE and OMEGA-PSIR work together for  Poland’s leading University Repository. (tentative title)</h3>
                                        <h4>Małgorzata Rychlik</h4>
                                        <p>Adam Mickiewicz University</p>
                                    </div>
                                </div>
                                
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/mrychlik.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                             <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 80px 10px">
                                        <h4>11:10 - 11:30</h4> </div>
                                </div>
                                <div class="col-md-6 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">Institutional CRIS at Polish Universities</span> <span class="badge badge-pill">Talk</span>
                                        <h3>OMEGA-PSIR as a CRIS solution for a medical research institute.</h3>
                                        <h4>Magdalena Chechlińska, Ewelina Jurzysta</h4>
                                        <p>The Maria Skłodowska-Curie Institute of Oncology</p>
                                    </div>
                                </div>
                                
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/echechlinska.jpeg" alt="" class="img-responsive"> </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">  
                                    <div class="speaker-img"> <img src="assets/img/speaker/ejurzysta.jpeg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                             <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h4>11:30 - 11:50</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">Institutional CRIS at Polish Universities</span> <span class="badge badge-pill">Talk</span>
                                        <h3>OMEGA-PSIR and humanists - the case study of Maria Grzegorzewska University</h3>
					<h4>Joanna Potęga</h4>
					<p>Main Library of Maria Grzegorzewska University</p>
                                    </div>
                                </div>
				<div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/Potega_2018.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div> 
                        </div>
                    </div>

					<div class="time-desc">
                        <div class="container">
                             <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h4>11:50 - 12:10</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">Institutional CRIS at Polish Universities</span> <span class="badge badge-pill">Talk</span>
                                        <h3>Experiences with OMEGA-PSIR at the University of Gdańsk</h3>
					<h4>Magdalena Hamerska</h4>
					<p>University of Gdańsk</p>
                                    </div>
                                </div>
				<div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/M.Hamerska.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div> 
                        </div>
                    </div>
					
					<div class="time-desc">
                        <div class="container">
                             <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h4>12:10 - 12:30</h4> </div>
                                </div>
                                <div class="col-md-6 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">Institutional CRIS at Polish Universities</span> <span class="badge badge-pill">Talk</span>
                                        <h3>Overview of OMEGA-PSIR deployments in Poland (tentative title)</h3>
                                        <h4>Wacław Struk, Łukasz Skonieczny</h4>
                                        <p>Institute of Computer Science Warsaw University of Technology</p>
                                    </div>
                                </div>
                                 <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/wstruk.jpg" alt="" class="img-responsive"> </div>
                                 </div>
                                 <div class="col-md-2 col-xs-12 col-sm-3"> 
                                    <div class="speaker-img"> <img src="assets/img/speaker/lskonieczny.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
					
                    <!-- time desc end  	 -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="b-time">
                                        <h4>Lunch Break</h4> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="desc-inner">
                                        <h3>Towards European Open Science - Part 1 </h3> </div>
                                        <h4>Mixing inputs from OpenAIRE in Poland and euroCRIS, this session will address the progress towards Open Science at a European level in areas like Research 
Data Management and system interoperability</h4>
                                    </div>
                            </div>
                        </div>
                    </div>
                 
                    <div class="time-desc">
                        <div class="container">
                             <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 80px 10px">
                                        <h4>13:30 - 13:55</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">Towards European Open Science</span> <span class="badge badge-pill">Talk</span>
                                        <h3>OpenAIRE's network of competencies: National Open Access Desks across Europe</h3>
                                        <h4>Michał Starczewski</h4>
                                        <p>Interdisciplinary Centre for Mathematical and Computational Modelling</p>
                                    </div>
                                </div>
                                
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/mstarczewski.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                     <div class="time-desc">
                        <div class="container">
                             <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 80px 10px">
                                        <h4>13:55 - 14:20</h4> </div>
                                </div>
                                <div class="col-md-6 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">Towards European Open Science</span> <span class="badge badge-pill">Talk</span>
                                        <h3>METIS2OpenAIRE: an update on the process for implementing the CERIF-XML Guidelines for CRIS managers</h3>
                                        <h4>Pablo de Castro, Jan Dvorak</h4>
                                        <p>euroCRIS</p>
                                    </div>
                                </div>
                                
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/jdvorak.jpeg" alt="" class="img-responsive"> </div>
                                    </div>
                                  <div class="col-md-2 col-xs-12 col-sm-3">   
                                    <div class="speaker-img"> <img src="assets/img/speaker/pablo.jpg" alt="" class="img-responsive"> </div>
                            
                                 </div>
                            </div>
                        </div>
                        
                    </div>
                
           <div class="time-desc">
                        <div class="container">
                            <div class="row">
                        
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="desc-inner">
                                        <h3>Presentations by euroCRIS Strategic Partners - Part 1 (14:20 - 15:50)</h3>
                                        <h4>A range of presentations by euroCRIS Strategic Partners like ORCID, DuraSpace and OCLC will provide an update on recent progress in areas jointly addressed 
by euroCRIS and these partners. These will include among others the fundings of the recently conducted OCLC/euroCRIS survey, the progress towards the 
implementation of organisational identifiers and system interoperability between institutional repositories and CRIS systems</h4>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                <div class="time-desc">
                        <div class="container">
                             <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 80px 10px">
                                        <h4>14:20 - 14:40</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Patterns and Practices in Research Information Management : findings from the OCLC/euroCRIS global survey on Research Information Management practices </h3>
                                        <h4>Annette Dortmund</h4>
                                        <p>Sr. Product Manager EMEA, OCLC</p>
                                    </div>
                                </div>
                                
                              
                            </div>
                        </div>
                        
                    </div>
                     <div class="time-desc">
                        <div class="container">
                             <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 80px 10px">
                                        <h4>14:40 - 15:00</h4>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>PerúCRIS: CRIS Infrastructure for Improving Research Quality and Reducing Inequality Gaps in Peru </h3>
                                        <h4>César Olivares</h4>
                                        <p>CONCYTEC, Peru</p>
                                    </div>
                                </div>
                                
                               </div>  
                            </div>                 
                    </div>
                           <div class="time-desc">
                        <div class="container">
                             <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 80px 10px">
                                        <h4>15:00 - 15:20</h4>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>EUNIS - European University Information Systems</h3>
                                        <h4>Tomasz Szmuc</h4>
                                        <p>EUNIS</p>
                                    </div>
                                </div>
                                
                               </div>  
                            </div>                 
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="b-time">
                                        <h4>Coffee Break</h4> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 220px 10px">
                                        <h4>16:20 - 18:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>euroCRIS Business session</h3>
                                        <hr>
                                        <h4>Clarivate (Miguel Garcia)</h4>
                                        <hr>
                                        <h4>Sigma (Anna Guillaumet)</h4>
                                        <hr>
                                        <h4>Elsevier (Henryk Rasmussen)</h4>
                                        <hr>
                                        <h4>Sages (Łukasz Kobyliński)</h4>
                                    </div>
                                </div>
                          
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="b-time">
                                        <h4>Dinner at Bazyliszek Restaurant located in the Old Town</h4> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end  	 -->
                </div>
                <div class="tab-pane fade in" id="tab-c">
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                             
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="desc-inner">
                                        <h3>Regional session (8:30 - 10:00)</h3>
                                        <h4>This session will provide an overview for different national and institutional CRIS systems in the region, aiming to establish a basis for collaboration and joint examination of the workflows in areas like data collection and curation, information exchange with institutional data providers and specific applications 
                                            for the information that gets collected in the system such as research assessment</h4>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    
                      <div class="time-desc">
                        <div class="container">
                             <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 80px 10px">
                                        <h4>8:30 - 9:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">Regional session</span> <span class="badge badge-pill">Talk</span>
                                        <h3>SK-CRIS: The National Research Information System for the Slovak Republic</h3>
                                        <h4>Danica Zendulková</h4>
                                        <p>CVTI-SR</p>
                                    </div>
                                </div>
                                
                              
                            </div>
                        </div>
						
					<div class="time-desc">
                        <div class="container">
                             <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 80px 10px">
                                        <h4>9:00 - 9:30</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">Regional session</span> <span class="badge badge-pill">Talk</span>
                                        <h3>Implementing an in-house-built solution for research information management at TU Vienna</h3>
                                        <h4>Sabine Neff</h4>
                                        <p>Head of the Division of Research Information Systems, TU Vienna</p>
                                    </div>
                                </div>                 
                            </div>
                        </div>   
                    </div>

					<div class="time-desc">
                        <div class="container">
                             <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 80px 10px">
                                        <h4>9:30 - 10:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">Regional session</span> <span class="badge badge-pill">Talk</span>
                                        <h3>Building a networked research information management solution focused on support research and researchers at the Slovak Technical University</h3>
                                        <h4>Nadežda Andrejčíková</h4>
                                        <p>Faculty of Informatics and Information Technologies, Slovak Technical University Bratislava</p>
                                    </div>
                                </div>                 
                            </div>
                        </div>   
                    </div>
					
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="b-time">
                                        <h4>Coffee Break</h4> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <!-- time desc end  	 -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                    
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="desc-inner">
                                        <h3>Jostein Hauge session (10:30 - 12:30)</h3>
                                        <h4>This session, whose title honours the memory of one of euroCRIS's founding fathers, will feature contributions from euroCRIS members describing current developments in the European research information management landscape.</h4>
                                    </div>
                                </div>
                          
                            </div>
                        </div>
                    </div>
                    
   
                      <div class="time-desc">
                        <div class="container">
                             <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 80px 10px">
                                        <h4>10:30 - 11:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">Jostein Hauge session</span> <span class="badge badge-pill">Talk</span>
                                        <h3>Implementation of OpenAIRE Guidelines for CRIS managers onto the Finnish VIRTA Publication Information Service”  </h3>
                                        <h4>Joonas Nikkanen</h4>
					    <p>CSC</p>
					<h4>Dragan Ivanovic</h4>
					    <p>University of Novi Sad</p>
        
                                    </div>
                                </div>
                               <!--
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/mstarczewski.jpg" alt="" class="img-responsive"> </div>
                                </div>
-->
                            </div>
                        </div>
                        
                    </div>
		    <div class="time-desc">
                        <div class="container">
                             <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 80px 10px">
                                        <h4>11:00 - 11:30</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">Towards European Open Science</span> <span class="badge badge-pill">Talk</span>
                                        <h3>An update on Pure’s progress towards OpenAIRE compatibility</h3>
                                        <h4>Anna Clements</h4>
                                        <p>University of St Andrews</p>
                                    </div>
                                </div>
                               <!--
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/mstarczewski.jpg" alt="" class="img-responsive"> </div>
                                </div>
-->
                            </div>
                        </div>    
                    </div>
                               <div class="time-desc">
                        <div class="container">
                             <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 80px 10px">
                                        <h4>11:30 - 12:00</h4> </div>
                                </div>
                                <div class="col-md-6 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">Jostein Hauge session</span> <span class="badge badge-pill">Talk</span>
                                        <h3>Current practices in research classification and future perspectives</h3>
                                        <h4>Sadia Vancauwenbergh</h4>
                                        <p>UHasselt</p>
                                    </div>
                                </div>
                                 <!--
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/jdvorak.jpeg" alt="" class="img-responsive"> </div>
                                    </div>
                                  <div class="col-md-2 col-xs-12 col-sm-3">   
                                    <div class="speaker-img"> <img src="assets/img/speaker/pablo.jpg" alt="" class="img-responsive"> </div>
                            
                                 </div>-->
                            </div>
                        </div>
                        
                    </div>
                      <div class="time-desc">
                        <div class="container">
                             <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 80px 10px">
                                        <h4>12:00 - 12:30</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">Jostein Hauge session</span> <span class="badge badge-pill">Talk</span>
                                        <h3>An update on the P-O-PF project in the Netherlands</h3>
                                        <h4>Ed Simons</h4>
                                        <p>Radboud University Nijmegen</p>
                                    </div>
                                </div>
                               <!--
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/mstarczewski.jpg" alt="" class="img-responsive"> </div>
                                </div>
-->
                            </div>
                        </div>
                        
                    </div>
                    
                     <!-- time desc end  	 -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="b-time">
                                        <h4>Lunch Break</h4> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                     <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="desc-inner">
                                        <h3>Towards European Open Science - Part 2 </h3> </div>
                                        <h4>Mixing inputs from OpenAIRE in Poland and euroCRIS, this session will address the progress towards Open Science at a European level in areas like Research 
Data Management and system interoperability</h4>
                                    </div>
                            </div>
                        </div>
                    </div>
          
                 <div class="time-desc">
                        <div class="container">
                             <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 80px 10px">
                                        <h4>13:30 - 13:55</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">Towards European Open Science</span> <span class="badge badge-pill">Talk</span>
                                        <h3>Open Science and Open Educational Resources: Bridged Concepts for Shared Infrastructure</h3>
                                        <h4>Nicolae Constantinescu</h4>
                                         <p>Infrastructure Services Consultant for The National Library for Physics, Bucharest, Romania</p>
                             
                                    </div>
                                </div>
                               <!--
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/mstarczewski.jpg" alt="" class="img-responsive"> </div>
                                </div>
-->
                            </div>
                        </div>
                        
                    </div>
	            <div class="time-desc">
                        <div class="container">
                             <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 80px 10px">
                                        <h4>13:55 - 14:20</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <span class="badge badge-pill">Towards European Open Science</span> <span class="badge badge-pill">Talk</span>
                                        <h3>MOST Wiedzy: Implementing Open Science at an Institutional Level at the Gdańsk University of Technology</h3>
                                        <h4>Anna Wałek, Michał Nowacki</h4>
                                        <p>Gdańsk University of Technology</p>
                                    </div>
                                </div>
                               <!--
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/mstarczewski.jpg" alt="" class="img-responsive"> </div>
                                </div>
-->
                            </div>
                        </div>    
                    </div>
			
           <div class="time-desc">
                        <div class="container">
                            <div class="row">        
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="desc-inner">
                                        <h3>Presentations by euroCRIS Strategic Partners - Part 2 (14:20 - 15:00)</h3>
                                        <h4>A range of presentations by euroCRIS Strategic Partners like ORCID, DuraSpace and OCLC will provide an update on recent progress in areas jointly addressed 
by euroCRIS and these partners. These will include among others the fundings of the recently conducted OCLC/euroCRIS survey, the progress towards the 
implementation of organisational identifiers and system interoperability between institutional repositories and CRIS systems</h4>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                   <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 80px 10px">
                                        <h4>14:20 - 14:40</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>FAIR and data interoperability - an update on international developments</h3>
                                        <h4>Simon Hodson</h4>
                                         <p>CODATA</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
			
		    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 80px 10px">
                                        <h4>14:40 - 15:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Title TBC</h3>
                                        <h4>Ivo Wijnbergen</h4>
                                         <p>ORCID</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="b-time">
                                        <h4>Coffee Break</h4> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                            <div class="time-desc">
                        <div class="container">
                            <div class="row">
                        
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="desc-inner">
                                        <h3>Omega-PSIR Event - part 1</h3>
                                     </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                     <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 80px 10px">
                                        <h4>15:20 - 16:10</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
            
                                        <h4>Different approaches to evaluation of scientific achievements from the perspective of European Countries </h4>
                                        <span class="badge badge-pill">Discussion Panel</span>
                                         <h4>Chair: Ed Simons (Radboud University Nijmegen)</h4>
                                         <h4>Participants:</h4> 
                                         <h4>Anna Clements (University of St Andrews, UK)</h4> 
                                         <h4>Mark Cox (King's College London, UK)</h4> 
					 <h4>Clifford Tatum (CWTS Leiden, The Netherlands)</h4>
					 <h4>Jürgen Güdler (German Research Foundation)</h4>
                                         <h4>Przemysław Korytkowski (West Pomeranian University of Technology in Szczecin Faculty of Computer Science, Evaluation Committee of Scientific Units, Ministry of Science and Higher Education)</h4> 
                                         <h4>More to be announced</h4> 
                                      </div>
                                    </div>
                              
                          
                            </div>
                        </div>
                    </div>
             <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 80px 10px">
                                        <h4>16:10 - 17:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
         
                                        <h4>One system, many organizations - different deployment and reporting experiences of representatives of universities that use Omega-PSIR </h4>
                                           <span class="badge badge-pill">Discussion Panel</span>
                                                    <h4>Chair:Henryk Rybiński</h4>
                                         <h4>Participants:</h4> 
                                         <h4>Gdansk University team: Zbigniew Ruszczyk and Magdalena Hamerska</h4> 
										 <h4>The Maria Skłodowska-Curie Institute of Oncology team: Ewelina Jurzysta and Dariusz Stefaniuk</h4> 
										 <h4>Warsaw University of Technology team: Weronika Kubrak and Wacław Struk</h4> 
										 <h4>Maria Grzegorzewska University team: Joanna Potęga</h4> 
                                         <h4>More to be announced</h4>                                
                                      </div>
                                    </div>
                              
                          
                            </div>
                        </div>
                    </div>
                   
                    <!-- time desc end  	 -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 20px 10px">
                                        <h4>17:00 - 17:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Official Closing</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                     <div class="time-desc">
                        <div class="container">
                            <div class="row">
                        
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="desc-inner">
                                        <h3>Omega-PSIR Event - part 2</h3>
                                     </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                      <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 80px 10px">
                                        <h4>17:15 - 18:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
            
                              
                                              <h4>Omega-PISR key capabilities overview(incl. Repository functions, Data acquisition, Data presentation/visualization, Reporting capabilities, Business workflows) </h4>
                                               <span class="badge badge-pill">Tutorial</span>
                                      </div>
                                    </div>
                              
                          
                            </div>
                        </div>
                    </div>
                    <!-- time desc end  	 -->
                </div>
            </div>
        </div><!-- row end  -->
    </div><!-- container end  -->
</section>
<!--  section SCHEDULE end  -->
