<!--  section SCHEDULE start  -->
<section id="section-schedule" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2>Agenda</h2>
                    <p>The schedule of AI & NLP Workshop Day is tentative and may change in the coming weeks.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tab-content">
                <div class="tab-pane fade in active">
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>Opening</h3>
                                        <h4>09:00 - 09:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>The Future of the Web: and how to prepare for it now</h3>
                                        <h4>Samantha Jonson</h4>
                                        <h5>Founder of Creative Agency</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet maiores suscipit facere provident, reiciendis ab, soluta, unde nostrum eligendi necessitatibus quia distinctio mollitia ipsa! Ad a, suscipit voluptatem atque cupiditate.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team1.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>Invited Talk 1</h3>
                                        <h4>09:10 - 09:45</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>The Future of the Web: and how to prepare for it now</h3>
                                        <h4>Samantha Jonson</h4>
                                        <h5>Founder of Creative Agency</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet maiores suscipit facere provident, reiciendis ab, soluta, unde nostrum eligendi necessitatibus quia distinctio mollitia ipsa! Ad a, suscipit voluptatem atque cupiditate.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team1.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>Invited Talk 2</h3>
                                        <h4>09:50 - 10:20</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>The Future of the Web: and how to prepare for it now</h3>
                                        <h4>Samantha Jonson</h4>
                                        <h5>Founder of Creative Agency</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet maiores suscipit facere provident, reiciendis ab, soluta, unde nostrum eligendi necessitatibus quia distinctio mollitia ipsa! Ad a, suscipit voluptatem atque cupiditate.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team1.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-tabs " id="schedule-tab">
                <li class="active col-md-3 col-sm-3 col-xs-12">
                    <a href="#tab-a" data-toggle="tab">
                        <h3>Track 1 <br/>(ML/AI)</h3> </a>
                </li>
                <li class="col-md-3 col-sm-3 col-xs-12">
                    <a href="#tab-b" data-toggle="tab">
                        <h3>Track 2 <br/>(Big Data)</h3> </a>
                </li>
                <li class="col-md-3 col-sm-3 col-xs-12">
                    <a href="#tab-c" data-toggle="tab">
                        <h3>Track 3 <br/>(NLP)</h3> </a>
                </li>
                <li class="col-md-3 col-sm-3 col-xs-12">
                    <a href="#tab-d" data-toggle="tab">
                        <h3>Track 4 <br/>(PolEval 2018)</h3> </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab-a">
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>ML/AI Workshop #1</h3>
                                        <h4>09:00 - 09:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>The Future of the Web: and how to prepare for it now</h3>
                                        <h4>Samantha Jonson</h4>
                                        <h5>Founder of Creative Agency</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet maiores suscipit facere provident, reiciendis ab, soluta, unde nostrum eligendi necessitatibus quia distinctio mollitia ipsa! Ad a, suscipit voluptatem atque cupiditate.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team1.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end  	 -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>ML/AI Workshop #2</h3>
                                        <h4>09:15 - 09:45</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>The Future of the Web: and how to prepare for it now</h3>
                                        <h4>Samantha Jonson</h4>
                                        <h5>Founder of Creative Agency</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet maiores suscipit facere provident, reiciendis ab, soluta, unde nostrum eligendi necessitatibus quia distinctio mollitia ipsa! Ad a, suscipit voluptatem atque cupiditate.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team2.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end  	 -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>ML/AI Workshop #3</h3>
                                        <h4>09:45 - 10:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>The Future of the Web: and how to prepare for it now</h3>
                                        <h4>Samantha Jonson</h4>
                                        <h5>Founder of Creative Agency</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet maiores suscipit facere provident, reiciendis ab, soluta, unde nostrum eligendi necessitatibus quia distinctio mollitia ipsa! Ad a, suscipit voluptatem atque cupiditate.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team3.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end  	 -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>ML/AI Workshop #4</h3>
                                        <h4>11:00 - 12:30</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>ML in Python</h3>
                                        <h4>Samantha Jonson</h4>
                                        <h5>Founder of Creative Agency</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet maiores suscipit facere provident, reiciendis ab, soluta, unde nostrum eligendi necessitatibus quia distinctio mollitia ipsa! Ad a, suscipit voluptatem atque cupiditate.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team3.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end  	 -->
                </div>
                <div class="tab-pane fade in" id="tab-b">
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>Big Data Workshop #1</h3>
                                        <h4>09:00 - 09:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>The Future of the Web: and how to prepare for it now</h3>
                                        <h4>Samantha Jonson</h4>
                                        <h5>Founder of Creative Agency</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet maiores suscipit facere provident, reiciendis ab, soluta, unde nostrum eligendi necessitatibus quia distinctio mollitia ipsa! Ad a, suscipit voluptatem atque cupiditate.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team1.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end  	 -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>Big Data Workshop #2</h3>
                                        <h4>09:15 - 09:45</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>The Future of the Web: and how to prepare for it now</h3>
                                        <h4>Samantha Jonson</h4>
                                        <h5>Founder of Creative Agency</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet maiores suscipit facere provident, reiciendis ab, soluta, unde nostrum eligendi necessitatibus quia distinctio mollitia ipsa! Ad a, suscipit voluptatem atque cupiditate.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team2.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end  	 -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>Big Data Workshop #3</h3>
                                        <h4>09:45 - 10:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>The Future of the Web: and how to prepare for it now</h3>
                                        <h4>Samantha Jonson</h4>
                                        <h5>Founder of Creative Agency</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet maiores suscipit facere provident, reiciendis ab, soluta, unde nostrum eligendi necessitatibus quia distinctio mollitia ipsa! Ad a, suscipit voluptatem atque cupiditate.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team3.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end  	 -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>Big Data Workshop #4</h3>
                                        <h4>11:00 - 12:30</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Hive</h3>
                                        <h4>Samantha Jonson</h4>
                                        <h5>Founder of Creative Agency</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet maiores suscipit facere provident, reiciendis ab, soluta, unde nostrum eligendi necessitatibus quia distinctio mollitia ipsa! Ad a, suscipit voluptatem atque cupiditate.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team3.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end  	 -->
                </div>
                <div class="tab-pane fade in" id="tab-c">
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>NLP Workshop #1</h3>
                                        <h4>09:00 - 09:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>The Future of the Web: and how to prepare for it now</h3>
                                        <h4>Samantha Jonson</h4>
                                        <h5>Founder of Creative Agency</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet maiores suscipit facere provident, reiciendis ab, soluta, unde nostrum eligendi necessitatibus quia distinctio mollitia ipsa! Ad a, suscipit voluptatem atque cupiditate.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team1.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end  	 -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>NLP Workshop #2</h3>
                                        <h4>09:15 - 09:45</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>The Future of the Web: and how to prepare for it now</h3>
                                        <h4>Samantha Jonson</h4>
                                        <h5>Founder of Creative Agency</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet maiores suscipit facere provident, reiciendis ab, soluta, unde nostrum eligendi necessitatibus quia distinctio mollitia ipsa! Ad a, suscipit voluptatem atque cupiditate.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team2.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end  	 -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>NLP Workshop #3</h3>
                                        <h4>09:45 - 10:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>The Future of the Web: and how to prepare for it now</h3>
                                        <h4>Samantha Jonson</h4>
                                        <h5>Founder of Creative Agency</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet maiores suscipit facere provident, reiciendis ab, soluta, unde nostrum eligendi necessitatibus quia distinctio mollitia ipsa! Ad a, suscipit voluptatem atque cupiditate.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team3.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end  	 -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>NLP Workshop #4</h3>
                                        <h4>11:00 - 12:30</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Intro to NLP</h3>
                                        <h4>Samantha Jonson</h4>
                                        <h5>Founder of Creative Agency</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet maiores suscipit facere provident, reiciendis ab, soluta, unde nostrum eligendi necessitatibus quia distinctio mollitia ipsa! Ad a, suscipit voluptatem atque cupiditate.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team3.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end  	 -->
                </div>
                <div class="tab-pane fade in" id="tab-d">
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>PolEval Talk #1</h3>
                                        <h4>09:00 - 09:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>The Future of the Web: and how to prepare for it now</h3>
                                        <h4>Samantha Jonson</h4>
                                        <h5>Founder of Creative Agency</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet maiores suscipit facere provident, reiciendis ab, soluta, unde nostrum eligendi necessitatibus quia distinctio mollitia ipsa! Ad a, suscipit voluptatem atque cupiditate.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team1.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end  	 -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>PolEval Talk #2</h3>
                                        <h4>09:15 - 09:45</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>The Future of the Web: and how to prepare for it now</h3>
                                        <h4>Samantha Jonson</h4>
                                        <h5>Founder of Creative Agency</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet maiores suscipit facere provident, reiciendis ab, soluta, unde nostrum eligendi necessitatibus quia distinctio mollitia ipsa! Ad a, suscipit voluptatem atque cupiditate.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team2.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end  	 -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>PolEval Talk #3</h3>
                                        <h4>09:45 - 10:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>The Future of the Web: and how to prepare for it now</h3>
                                        <h4>Samantha Jonson</h4>
                                        <h5>Founder of Creative Agency</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet maiores suscipit facere provident, reiciendis ab, soluta, unde nostrum eligendi necessitatibus quia distinctio mollitia ipsa! Ad a, suscipit voluptatem atque cupiditate.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team3.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end  	 -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>PolEval Talk #4</h3>
                                        <h4>11:00 - 12:30</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>XXX</h3>
                                        <h4>Samantha Jonson</h4>
                                        <h5>Founder of Creative Agency</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet maiores suscipit facere provident, reiciendis ab, soluta, unde nostrum eligendi necessitatibus quia distinctio mollitia ipsa! Ad a, suscipit voluptatem atque cupiditate.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team3.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end  	 -->
                </div>
            </div>
        </div><!-- row end  -->
    </div><!-- container end  -->
</section>
<!--  section SCHEDULE end  -->