<!--  section SCHEDULE start  -->
<section id="section-schedule" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2>Agenda</h2>
                    <p>The schedule of euroCRIS Meeting Warsaw 2018 is tentative and may change in the coming weeks.</p>
                </div>
            </div>
                        <div class="col-md-12">
<table class="table"> 

<thead> 
    <tr style="background: rgba(156,0,123, 0.7); color: white;"> 
        <th>Monday Nov 26th </th> 
        <th>Wednesday Nov 27st</th> 
        <th>Thursday Nov 28nd</th> 
    </tr> 
</thead> 
<tbody> 
    <tr> 
        <td>Omega Users Group meeting part 1</td> 
        <td>Registration</td> 
        <td>Talks coming soon</td> 
    </tr> 
    <tr> 
        <td>Omega Users Group meeting part 2</td> 
        <td>Workshop 2</td> 
        <td>Workshop 2</td> 
    </tr>
<tr class="active"> 
    <td>Lunch break</td>
    <td></td>  
    <td></td>
</tr> 
<tr> 
    <td>euroCRIS board meeting</td> 
    <td>Workshop 3</td> 
    <td>Workshop 3</td> 
</tr> 
<tr> 
        <td>euroCRIS CERIF tutorial</td> 
        <td>Workshop 4</td> 
        <td>Workshop 4</td> 
    </tr>    

<tr> 
        <td>Interest Group Meeting: DRIS update</td> 
        <td>Workshop 5</td> 
        <td>Workshop 5</td> 
    </tr>   
</tbody> 
</table> 
</div>
        </div>
    </div><!-- container end  -->
</section>
<!--  section SCHEDULE end  -->