	<!--  section SPEAKERS start  -->
	<section id="section-speaker" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-heading">
                        <h2>Honorable Speakers</h2>
                        <p>Magnam libero incidunt quibusdam, minima ipsa labore autem voluptatibus dolorem mollitia at, sit vero consequuntur perferendis harum facere quia aut cumque. Blanditiis!</p>
                        <a href="#" class="read-more">Learn More</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="carousel slide" id="speaker-carousel" >
                            <div class="carousel-inner">
                                    <div class="item active">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team1.jpg" alt="" class="img-responsive">
                                                </div>

                                                <div class="speaker-info">
                                                    <h4>lora kertin</h4>
                                                    <p>ui engineer at Dreambuzz</p>
                                                    <ul class="list-inline speaker-social">
                                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team2.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>lora kertin</h4>
                                                    <p>ui engineer at Dreambuzz</p>
                                                    <ul class="list-inline speaker-social">
                                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team3.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>lora kertin</h4>
                                                    <p>ui engineer at Dreambuzz</p>
                                                    <ul class="list-inline speaker-social">
                                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team4.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>lora kertin</h4>
                                                    <p>ui engineer at Dreambuzz</p>
                                                    <ul class="list-inline speaker-social">
                                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--item end-->
                                    <div class="item ">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team3.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>lora kertin</h4>
                                                    <p>ui engineer at Dreambuzz</p>
                                                    <ul class="list-inline speaker-social">
                                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team2.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>lora kertin</h4>
                                                    <p>ui engineer at Dreambuzz</p>
                                                    <ul class="list-inline speaker-social">
                                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team1.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>lora kertin</h4>
                                                    <p>ui engineer at Dreambuzz</p>
                                                    <ul class="list-inline speaker-social">
                                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team4.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>lora kertin</h4>
                                                    <p>ui engineer at Dreambuzz</p>
                                                    <ul class="list-inline speaker-social">
                                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--item end-->
                            </div>
                        </div>
                    </div><!-- row end  -->
                </div>
            </div>
        </div><!-- container end  -->
    </section>
    <!--  section SPEAKERS end  -->