	<!--  section SPEAKERS start  -->
	<section id="section-speaker" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-heading">
                        <h2>Speakers</h2>
                        <p>We have a great lineup of speakers from science and business.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="carousel slide" id="speaker-carousel" >
                            <div class="carousel-inner">
                                    <div class="item active">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team1.jpg" alt="" class="img-responsive">
                                                </div>

                                                <div class="speaker-info">
                                                    <h4>Radosław Szmit</h4>
                                                    <p>Big Data Developer / trainer at Sages</p>
                                                    <ul class="list-inline speaker-social">
                                                        <li><a href="http://bigdatapassion.pl"><i class="fa fa-pen-nib"></i></a></li>
                                                        <li><a href="https://pl.linkedin.com/in/rszmit"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="https://twitter.com/RadoslawSzmit"><i class="fa fa-twitter"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team2.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Maciej Bartoszuk</h4>
                                                    <p>Research and Teaching Assistant at Warsaw University of Technology</p>
                                                    <ul class="list-inline speaker-social">
                                                        <li><a href="https://www.linkedin.com/in/maciej-bartoszuk/"><i class="fa fa-linkedin"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team3.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Norbert Ryciak</h4>
                                                    <p>Ph.D. student in the field of Mathematics at Warsaw University of Technology</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team4.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Jakub Nowacki</h4>
                                                    <p>Lead Machine Learning Engineer at Sotrender / Data Scientist at SigDelta</p>
                                                    <ul class="list-inline speaker-social">
                                                        <li><a href="https://www.linkedin.com/in/jakubnowacki/"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="https://twitter.com/jsnowacki"><i class="fa fa-twitter"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--item end-->
                            </div>
                        </div>
                    </div><!-- row end  -->
                </div>
            </div>
        </div><!-- container end  -->
    </section>
    <!--  section SPEAKERS end  -->