<!-- section Sponsors strat -->
<section id="section-sponsors">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="section-heading text-center wow fadeInUp">
                    <h2>Proud Organizers</h2>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor"> <img src="assets/img/client/sages.png" alt="" class="img-responsive center-block"> </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay=".4s">
                        <div class="sponsor"> <img src="assets/img/client/zil.png" alt="" class="img-responsive center-block"> </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay=".4s">
                        <div class="sponsor"> <img src="assets/img/client/ipilogo.png" alt="" class="img-responsive center-block"> </div>
                    </div>
                </div>
                <div class="section-heading text-center wow fadeInUp">
                    <h2>Our Sponsors</h2>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay=".4s">
                        <p>Contact us on info@nlpday.ai to learn about our packages.</p>
                    </div>
                </div>
                
            </div>
            
            <div class="col-md-6 sponsor-img-block">
                
            </div>
        </div>
    </div>
</section>
<!-- section sponsors end -->