<!-- section Sponsors strat -->
<section id="section-sponsors">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="section-heading text-center wow fadeInUp">
                    <h2>Proud Sponsors</h2>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor"> <img src="assets/img/client/partner_01.png" alt="" class="img-responsive center-block"> </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay=".4s">
                        <div class="sponsor"> <img src="assets/img/client/partner_02.png" alt="" class="img-responsive center-block"> </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay=".6s">
                        <div class="sponsor"> <img src="assets/img/client/partner_03.png" alt="" class="img-responsive center-block"> </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay=".4s">
                        <div class="sponsor"> <img src="assets/img/client/partner_02.png" alt="" class="img-responsive center-block"> </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay=".6s">
                        <div class="sponsor"> <img src="assets/img/client/partner_03.png" alt="" class="img-responsive center-block"> </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor"> <img src="assets/img/client/partner_01.png" alt="" class="img-responsive center-block"> </div>
                    </div>
                </div>
                
            </div>
            
            <div class="col-md-6 sponsor-img-block">
                
            </div>
        </div>
    </div>
</section>
<!-- section sponsors end -->