<!-- section Sponsors strat -->
<section id="section-sponsors">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="section-heading text-center wow fadeInUp">
                    <h2>Organizers</h2>
                </div>
                <div class="row">
                     <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".6s">
                        <div class="sponsor"> <a href="https://www.eurocris.org/"><img src="assets/img/client/eurocris.png" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                    <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".4s">
                        <div class="sponsor"> <a href="http://www.ii.pw.edu.pl"><img src="assets/img/client/ii_logo.png" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                    
                </div>
                <div class="section-heading text-center wow fadeInUp">
                    <h2>Our Partners</h2>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-12 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor"> <a href="https://"><img src="assets/img/client/4science.png" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                    <div class="col-md-3 col-sm-12 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor"> <a href="https://w"><img src="assets/img/client/1200px-Clarivate_Analytics.svg.png" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                    <div class="col-md-2 col-sm-12 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor"> <a href="https://"><img src="assets/img/client/1200px-Elsevier.svg-e1528116561741.png" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                    <div class="col-md-2 col-sm-12 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor"> <a href="https://"><img src="assets/img/client/Sigma_logo100.png" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                    <div class="col-md-2 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor"> <a href="http://sages.com.pl"><img src="assets/img/client/sages.png" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 sponsor-img-block">
                
            </div>
        </div>
    </div>
</section>
<!-- section sponsors end -->